* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('fonts/Gilroy-Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('fonts/Gilroy-UltraLight.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('fonts/Gilroy-Light.ttf') format('truetype');
  font-weight: 250;
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 350;
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 450;
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('fonts/Gilroy-Semibold.ttf') format('truetype');
  font-weight: 550;
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 650;
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('fonts/Gilroy-Extrabold.ttf') format('truetype');
  font-weight: 750;
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('fonts/Gilroy-Black.ttf') format('truetype');
  font-weight: 850;
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('fonts/Gilroy-Heavy.ttf') format('truetype');
  font-weight: 950;
}

body {
  background-color: #1E1E1E;
  overflow-x: hidden;
}

.container {
  width: 100vw;
  flex-direction: column;
}

.hidden {
  display: none;
}

/* Стиль для мониторов с соотношением 16:9 */
@media screen and (min-aspect-ratio: 1/1) and (max-aspect-ratio: 20/9) {
  .container {
    width: calc(1920 / 1920 * 100vw);
  }

  .cross {
    width: calc(1285 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(-390 / 1920 * 100vw);
    left: calc(812 / 1920 * 100vw);
  }

  .cross_img {
    width: calc(1285 / 1920 * 100vw);
    height: auto;
  }

  .ball_blue {
    width: calc(1323 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(192 / 1920 * 100vw);
    left: calc(-511 / 1920 * 100vw);;
  }

  .ball_blue_png {
    width: calc(1323 / 1920 * 100vw);
    height: auto;
  }

  .title{
    width: calc(837 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(300 / 1920 * 100vw);
    left: calc(909 / 1920 * 100vw);
  }

  .title_title_png {
    width: calc(837 / 1920 * 100vw);
    height: auto;
  }

  .button_title {
    width: calc(818 / 1920 * 100vw);
    height: calc(130 / 1920 * 100vw);
    position: absolute;
    top: calc(772 / 1920 * 100vw);
    left: calc(912 / 1920 * 100vw);
  }

  .button {
    width: calc(818 / 1920 * 100vw);
    height: calc(130 / 1920 * 100vw);
    border: none;
    border-radius: calc(90 / 1920 * 100vw);
    cursor: pointer;
  }

  .button_first_img {
    width: calc(818 / 1920 * 100vw);
    height: auto;
  }

  .description_rec {
    width: calc(1007 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(1144 / 1920 * 100vw);
    left: calc(832 / 1920 * 100vw);
  }

  .description_rec_png {
    width: calc(1007 / 1920 * 100vw);
    height: auto;
  }

  .participation {
    width: calc(1102 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(1615 / 1920 * 100vw);
    left: calc(66 / 1920 * 100vw);
  }

  .participation_title {
    width: calc(838 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(0 / 1920 * 100vw);
    left: calc(56 / 1920 * 100vw);
  }

  .participation_text {
    width: calc(693 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(292 / 1920 * 100vw);
    left: calc(36 / 1920 * 100vw);
  }

  .participation_analytics, .participation_back_end, .participation_testing,
  .participation_front_end,  .participation_UXUI, .participation_project {
    height: calc(112 / 1920 * 100vw);
    width: auto;
  }

  .participation_analytics {
    position: absolute;
    top: calc(545 / 1920 * 100vw);
    left: calc(36 / 1920 * 100vw);
  }

  .participation_back_end {
    position: absolute;
    top: calc(690 / 1920 * 100vw);
    left: calc(633 / 1920 * 100vw);
  }

  .participation_testing {
    position: absolute;
    top: calc(841 / 1920 * 100vw);
    left: calc(36 / 1920 * 100vw);
  }

  .participation_front_end {
    position: absolute;
    top: calc(546 / 1920 * 100vw);
    left: calc(394 / 1920 * 100vw);
  }

  .participation_UXUI {
    position: absolute;
    top: calc(845 / 1920 * 100vw);
    left: calc(451 / 1920 * 100vw);
  }

  .participation_project {
    position: absolute;
    top: calc(689 / 1920 * 100vw);
    left: calc(92 / 1920 * 100vw);
  }

  .ring_light_blue {
    width: calc(2183 / 1920 * 100vw);
    height: auto;
    position: relative;
    top: calc(1243 / 1920 * 100vw);
    right: calc(-1048 / 1920 * 100vw);
  }

  .ring_light_blue_png {
    width: calc(2183 / 1920 * 100vw);
    height: auto;
  }

  .schedule {
    width: calc(1744 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(2765 / 1920 * 100vw);
    left: calc(88 / 1920 * 100vw);
  }

  .schedule_line_1, .schedule_line_2, .schedule_line_3_left,
  .schedule_line_3_right, .schedule_line_4_left, .schedule_line_4_right {
    display: none;
  }

  .schedule_line_1_desk {
    width: calc(379 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(81 / 1920 * 100vw);
    left: calc(773 / 1920 * 100vw);
  }

  .schedule_line_2_desk {
    width: calc(587 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(395 / 1920 * 100vw);
    left: calc(438 / 1920 * 100vw);
  }

  .schedule_line_3_left_desk {
    width: calc(417 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(821 / 1920 * 100vw);
    left: calc(447 / 1920 * 100vw);
  }

  .schedule_line_3_right_desk {
    width: calc(470 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(627 / 1920 * 100vw);
    left: calc(575 / 1920 * 100vw);
  }

  .schedule_line_4_left_desk {
    width: calc(197 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(1358 / 1920 * 100vw);
    left: calc(210 / 1920 * 100vw);
  }

  .schedule_line_4_right_desk {
    width: calc(507 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(1042 / 1920 * 100vw);
    left: calc(1137 / 1920 * 100vw);
  }

  .schedule_registration {
    width: calc(678 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(37 / 1920 * 100vw);
    left: calc(201 / 1920 * 100vw);
  }

  .schedule_opening {
    width: calc(617 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(250 / 1920 * 100vw);
    left: calc(919 / 1920 * 100vw);
  }

  .schedule_competition {
    width: calc(756 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(556 / 1920 * 100vw);
    left: calc(167 / 1920 * 100vw);
  }

  .schedule_competitions_pupils {
    width: calc(617 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(1041 / 1920 * 100vw);
    left: calc(82 / 1920 * 100vw);
  }

  .schedule_competitions_students {
    width: calc(756 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(834 / 1920 * 100vw);
    left: calc(927 / 1920 * 100vw);
  }

  .schedule_results_pupils {
    width: calc(617 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(1589 / 1920 * 100vw);
    left: calc(121 / 1920 * 100vw);
  }

  .schedule_results_students {
    width: calc(617 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(1467 / 1920 * 100vw);
    left: calc(950 / 1920 * 100vw);
  }

  .ball_orange {
    width: calc(1598 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(4989 / 1920 * 100vw);
    left: calc(-547 / 1920 * 100vw);
  }

  .ball_orange_png {
    width: calc(1598 / 1920 * 100vw);
    height: auto;
  }

  .partners {
    width: calc(1042 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(5169/ 1920 * 100vw);
    left: calc(695 / 1920 * 100vw);
  }

  .partners_title {
    width: calc(1042 / 1920 * 100vw);
    height: auto;
  }

  .cell_purple {
    width: calc(2896 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(5918 / 1920 * 100vw);
    left: calc(-388 / 1920 * 100vw);
  }

  .cell_purple_png {
    width: calc(2896 / 1920 * 100vw);
    height: auto;
  }

  .prize {
    width: calc(641 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(6607 / 1920 * 100vw);
    left: calc(113 / 1920 * 100vw);
  }

  .prize_title_png {
    width: calc(641 / 1920 * 100vw);
    height: auto;
  }

  .application {
    width: calc(1474 / 1920 * 100vw);
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(8580 / 1920 * 100vw);
    left: calc(224 / 1920 * 100vw);
  }

  .application_title_png {
    width: calc(1473 / 1920 * 100vw);
    height: calc(162 / 1920 * 100vw);
    position: absolute;
    top: 0;
    left: 0;
  }

  .application_form {
    width: calc(1474 / 1920 * 100vw);
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(256 / 1920 * 100vw);
    left: 0;
    background-color: transparent;
    border-radius: calc(39 / 1920 * 100vw);
  }

  .form-container {
    width: calc(1474 / 1920 * 100vw);
    height: auto;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 550;
  }

  input#fio, input#institution, input#email,
  input#phone, input#team-name {
    width: calc(1474 / 1920 * 100vw);
    height: calc(154 / 1920 * 100vw);
    background-color: transparent;
    border-width: calc(5 / 1920 * 100vw);
    border-radius: calc(39 / 1920 * 100vw);
    border-color: #15E9C3;
    vertical-align: center;
    padding-left: calc(106 / 1920 * 100vw);
    margin-top: calc(16 / 1920 * 100vw);
    margin-bottom: calc(16 / 1920 * 100vw);
    font-family: 'Gilroy', sans-serif;
    font-size: calc(66 / 1920 * 100vw);
    box-sizing: border-box;
    font-weight: 550;
  }

  input#fio::placeholder, input#institution::placeholder, input#email::placeholder,
  input#phone::placeholder, input#team-name::placeholder {
    color: rgba(21, 233, 195, 0.28);
    font-family: 'Gilroy', sans-serif;
    font-size: calc(66 / 1920 * 100vw);
  }

  .track_container, .team_container, .part_container {
    width: calc(1474 / 1920 * 100vw);
    height: calc(154 / 1920 * 100vw);
    background-color: transparent;
    border: calc(5 / 1920 * 100vw) solid #15E9C3FF;
    border-radius: calc(39 / 1920 * 100vw);
    margin-top: calc(16 / 1920 * 100vw);
    margin-bottom: calc(16 / 1920 * 100vw);
    position: relative;
    padding-left: calc(106 / 1920 * 100vw);
  }

  .track_title, .team_title, .part_title {
    width: auto;
    height: auto;
    position: absolute;
    top: calc(27 / 1920 * 100vw);
    font-family: 'Gilroy', sans-serif;
    font-size: calc(66 / 1920 * 100vw);
    color: #15E9C3FF;
  }


  select#track, select#participation-format, select#has-team {
    appearance: none;
    width: calc(776 / 1920 * 100vw);
    height: calc(154 / 1920 * 100vw);
    background-color: #15e9c3;
    color: #1e1e1e;
    border-radius: calc(39 / 1920 * 100vw);
    border-color: #15e9c3;
    border-width: calc(5 / 1920 * 100vw);
    position: absolute;
    top: calc(-5 / 1920 * 100vw);
    right: calc(-5 / 1920 * 100vw);
    font-family: 'Gilroy', sans-serif;
    font-size: calc(66 / 1920 * 100vw);
    font-weight: 550;
    text-align: center;
  }

  select#track option, select#participation-format option, select#has-team option {
    font-family: 'Gilroy', sans-serif;
    font-size: calc(66 / 1920 * 100vw);
    font-weight: 550;
  }

  .team_container {
    margin-top: calc(32 / 1920 * 100vw);
  }



  #team-options {
    width: calc(776 / 1920 * 100vw);
    margin-bottom: calc(16 / 1920 * 100vw);
    margin-top: calc(16 / 1920 * 100vw);
  }



  #no-team-message {
    width: calc(1474 / 1920 * 100vw);
    height: calc(154 / 1920 * 100vw);
    background-color: transparent;
    border: calc(5 / 1920 * 100vw) solid #15E9C3;
    border-radius: calc(39 / 1920 * 100vw);
    margin-top: calc(32 / 1920 * 100vw);
    margin-bottom: calc(16 / 1920 * 100vw);
    font-family: 'Gilroy', sans-serif;
    font-size: calc(66 / 1920 * 100vw);
    position: relative;
    color: #15E9C3FF;

  }

  .no-team-text {
    text-align: center;
  }

  #no-team-message {
    height: calc(154 / 1920 * 100vw);
    text-align: center;
  }

  #no-team-message {
    margin-top: calc(32 / 1920 * 100vw);
    padding-top: calc(27 / 1920 * 100vw);
  }

  button#subbut {
    font-family: 'Gilroy', sans-serif;
    font-size: calc(66 / 1920 * 100vw);
    width: calc(1474 / 1920 * 100vw);
    height: calc(154 / 1920 * 100vw);
    margin-top: calc(16 / 1920 * 100vw);
    color: #15E9C3FF;

    background-color: rgba(21, 233, 195, 0.28);
    border: calc(5 / 1920 * 100vw) solid #15E9C3;
    border-radius: calc(39 / 1920 * 100vw);
    cursor: pointer;
  }

  button#subbut:hover {
    background-color: #15E9C3FF;
    color: #1E1E1E;
  }

  #team-name-container {
    height: calc(154 / 1920 * 100vw);
    margin-bottom: calc(32 / 1920 * 100vw);
  }

  .footer {
    width: calc(1474 / 1920 * 100vw);
    height: calc(637 / 1920 * 100vw);
    position: absolute;
    top: calc(10687 / 1920 * 100vw);
    left: calc(224 / 1920 * 100vw);
  }

  .footer_kemsu_logo {
    width: calc(259 / 1920 * 100vw);
    height: calc(153 / 1920 * 100vw);
    position: absolute;
    top: calc(20 / 1920 * 100vw);
    left: 0;
  }

  .footer_ID_logo {
    width: calc(481 / 1920 * 100vw);
    height: calc(173 / 1920 * 100vw);
    position: absolute;
    top: 0;
    left: calc(333 / 1920 * 100vw);
  }

  .conditions {
    width: calc(253 / 1920 * 100vw);
    height: calc(59 / 1920 * 100vw);
    position: absolute;
    top: calc(256 / 1920 * 100vw);
    left: 0;
  }

  .privacy_policy {
    width: calc(713 / 1920 * 100vw);
    height: calc(59 / 1920 * 100vw);
    position: absolute;
    top: calc(256 / 1920 * 100vw);
    left: calc(333 / 1920 * 100vw);
  }

  .emailID {
    width: calc(347 / 1920 * 100vw);
    height: calc(59 / 1920 * 100vw);
    position: absolute;
    top: calc(256 / 1920 * 100vw);
    left: calc(1124 / 1920 * 100vw);
  }

}



/* Стиль для мониторов с соотношением 21:9 */
@media screen and (min-aspect-ratio: 21/9) {
  .container {
    width: 80%;
    max-width: 1400px;
    flex-direction: row;
    justify-content: center; /* Выравниваем элементы по центру */
  }
}
/* Стиль для телефонов (например, экраны меньше 768px) */
@media screen and (max-aspect-ratio: 1/1) {
  .container {
    width: calc(1920 / 1920 * 100vw);
  }

  .cross {
    width: calc(1285 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(-390 / 1920 * 100vw);
    left: calc(812 / 1920 * 100vw);
  }

  .cross_img {
    width: calc(1285 / 1920 * 100vw);
    height: auto;
  }

  .ball_blue {
    width: calc(1323 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(192 / 1920 * 100vw);
    left: calc(-511 / 1920 * 100vw);;
  }

  .ball_blue_png {
    width: calc(1323 / 1920 * 100vw);
    height: auto;
  }

  .title{
    width: calc(837 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(300 / 1920 * 100vw);
    left: calc(909 / 1920 * 100vw);
  }

  .title_title_png {
    width: calc(837 / 1920 * 100vw);
    height: auto;
  }

  .button_title {
    width: calc(818 / 1920 * 100vw);
    height: calc(130 / 1920 * 100vw);
    position: absolute;
    top: calc(772 / 1920 * 100vw);
    left: calc(912 / 1920 * 100vw);
  }

  .button {
    width: calc(818 / 1920 * 100vw);
    height: calc(130 / 1920 * 100vw);
    border: none;
    border-radius: calc(90 / 1920 * 100vw);
    cursor: pointer;
  }

  .button_first_img {
    width: calc(818 / 1920 * 100vw);
    height: auto;
  }

  .description_rec {
    width: calc(1007 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(1144 / 1920 * 100vw);
    left: calc(832 / 1920 * 100vw);
  }

  .description_rec_png {
    width: calc(1007 / 1920 * 100vw);
    height: auto;
  }

  .participation {
    width: calc(1102 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(1615 / 1920 * 100vw);
    left: calc(66 / 1920 * 100vw);
  }

  .participation_title {
    width: calc(838 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(0 / 1920 * 100vw);
    left: calc(56 / 1920 * 100vw);
  }

  .participation_text {
    width: calc(693 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(292 / 1920 * 100vw);
    left: calc(36 / 1920 * 100vw);
  }

  .participation_analytics, .participation_back_end, .participation_testing,
  .participation_front_end,  .participation_UXUI, .participation_project {
    height: calc(112 / 1920 * 100vw);
    width: auto;
  }

  .participation_analytics {
    position: absolute;
    top: calc(545 / 1920 * 100vw);
    left: calc(36 / 1920 * 100vw);
  }

  .participation_back_end {
    position: absolute;
    top: calc(690 / 1920 * 100vw);
    left: calc(633 / 1920 * 100vw);
  }

  .participation_testing {
    position: absolute;
    top: calc(841 / 1920 * 100vw);
    left: calc(36 / 1920 * 100vw);
  }

  .participation_front_end {
    position: absolute;
    top: calc(546 / 1920 * 100vw);
    left: calc(394 / 1920 * 100vw);
  }

  .participation_UXUI {
    position: absolute;
    top: calc(845 / 1920 * 100vw);
    left: calc(451 / 1920 * 100vw);
  }

  .participation_project {
    position: absolute;
    top: calc(689 / 1920 * 100vw);
    left: calc(92 / 1920 * 100vw);
  }

  .ring_light_blue {
    width: calc(2183 / 1920 * 100vw);
    height: auto;
    position: relative;
    top: calc(1243 / 1920 * 100vw);
    right: calc(-1048 / 1920 * 100vw);
  }

  .ring_light_blue_png {
    width: calc(2183 / 1920 * 100vw);
    height: auto;
  }

  .schedule {
    width: calc(1744 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(2765 / 1920 * 100vw);
    left: calc(88 / 1920 * 100vw);
  }

  .schedule_line_1, .schedule_line_2, .schedule_line_3_left,
  .schedule_line_3_right, .schedule_line_4_left, .schedule_line_4_right {
    display: none;
  }

  .schedule_line_1_desk {
    width: calc(379 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(81 / 1920 * 100vw);
    left: calc(773 / 1920 * 100vw);
  }

  .schedule_line_2_desk {
    width: calc(587 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(395 / 1920 * 100vw);
    left: calc(438 / 1920 * 100vw);
  }

  .schedule_line_3_left_desk {
    width: calc(417 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(821 / 1920 * 100vw);
    left: calc(447 / 1920 * 100vw);
  }

  .schedule_line_3_right_desk {
    width: calc(470 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(627 / 1920 * 100vw);
    left: calc(575 / 1920 * 100vw);
  }

  .schedule_line_4_left_desk {
    width: calc(197 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(1358 / 1920 * 100vw);
    left: calc(210 / 1920 * 100vw);
  }

  .schedule_line_4_right_desk {
    width: calc(507 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(1042 / 1920 * 100vw);
    left: calc(1137 / 1920 * 100vw);
  }

  .schedule_registration {
    width: calc(678 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(37 / 1920 * 100vw);
    left: calc(201 / 1920 * 100vw);
  }

  .schedule_opening {
    width: calc(617 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(250 / 1920 * 100vw);
    left: calc(919 / 1920 * 100vw);
  }

  .schedule_competition {
    width: calc(756 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(556 / 1920 * 100vw);
    left: calc(167 / 1920 * 100vw);
  }

  .schedule_competitions_pupils {
    width: calc(617 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(1041 / 1920 * 100vw);
    left: calc(82 / 1920 * 100vw);
  }

  .schedule_competitions_students {
    width: calc(756 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(834 / 1920 * 100vw);
    left: calc(927 / 1920 * 100vw);
  }

  .schedule_results_pupils {
    width: calc(617 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(1589 / 1920 * 100vw);
    left: calc(121 / 1920 * 100vw);
  }

  .schedule_results_students {
    width: calc(617 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(1467 / 1920 * 100vw);
    left: calc(950 / 1920 * 100vw);
  }

  .ball_orange {
    width: calc(1598 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(4989 / 1920 * 100vw);
    left: calc(-547 / 1920 * 100vw);
  }

  .ball_orange_png {
    width: calc(1598 / 1920 * 100vw);
    height: auto;
  }

  .partners {
    width: calc(1042 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(5169/ 1920 * 100vw);
    left: calc(695 / 1920 * 100vw);
  }

  .partners_title {
    width: calc(1042 / 1920 * 100vw);
    height: auto;
  }

  .cell_purple {
    width: calc(2896 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(5918 / 1920 * 100vw);
    left: calc(-388 / 1920 * 100vw);
  }

  .cell_purple_png {
    width: calc(2896 / 1920 * 100vw);
    height: auto;
  }

  .prize {
    width: calc(641 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(6607 / 1920 * 100vw);
    left: calc(113 / 1920 * 100vw);
  }

  .prize_title_png {
    width: calc(641 / 1920 * 100vw);
    height: auto;
  }

  .application {
    width: calc(1474 / 1920 * 100vw);
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(8580 / 1920 * 100vw);
    left: calc(224 / 1920 * 100vw);
  }

  .application_title_png {
    width: calc(1473 / 1920 * 100vw);
    height: calc(162 / 1920 * 100vw);
    position: absolute;
    top: 0;
    left: 0;
  }

  .application_form {
    width: calc(1474 / 1920 * 100vw);
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(256 / 1920 * 100vw);
    left: 0;
    background-color: transparent;
    border-radius: calc(39 / 1920 * 100vw);
  }

  .form-container {
    width: calc(1474 / 1920 * 100vw);
    height: auto;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 550;
  }

  input#fio, input#institution, input#email,
  input#phone, input#team-name {
    width: calc(1474 / 1920 * 100vw);
    height: calc(154 / 1920 * 100vw);
    background-color: transparent;
    border-width: calc(5 / 1920 * 100vw);
    border-radius: calc(39 / 1920 * 100vw);
    border-color: #15E9C3;
    vertical-align: center;
    padding-left: calc(106 / 1920 * 100vw);
    margin-top: calc(16 / 1920 * 100vw);
    margin-bottom: calc(16 / 1920 * 100vw);
    font-family: 'Gilroy', sans-serif;
    font-size: calc(66 / 1920 * 100vw);
    box-sizing: border-box;
    font-weight: 550;
  }

  input#fio::placeholder, input#institution::placeholder, input#email::placeholder,
  input#phone::placeholder, input#team-name::placeholder {
    color: rgba(21, 233, 195, 0.28);
    font-family: 'Gilroy', sans-serif;
    font-size: calc(66 / 1920 * 100vw);
  }

  .track_container, .team_container, .part_container {
    width: calc(1474 / 1920 * 100vw);
    height: calc(154 / 1920 * 100vw);
    background-color: transparent;
    border: calc(5 / 1920 * 100vw) solid #15E9C3FF;
    border-radius: calc(39 / 1920 * 100vw);
    margin-top: calc(16 / 1920 * 100vw);
    margin-bottom: calc(16 / 1920 * 100vw);
    position: relative;
    padding-left: calc(106 / 1920 * 100vw);
  }

  .track_title, .team_title, .part_title {
    width: auto;
    height: auto;
    position: absolute;
    top: calc(27 / 1920 * 100vw);
    font-family: 'Gilroy', sans-serif;
    font-size: calc(66 / 1920 * 100vw);
    color: #15E9C3FF;
  }


  select#track, select#participation-format, select#has-team {
    appearance: none;
    width: calc(776 / 1920 * 100vw);
    height: calc(154 / 1920 * 100vw);
    background-color: #15e9c3;
    color: #1e1e1e;
    border-radius: calc(39 / 1920 * 100vw);
    border-color: #15e9c3;
    border-width: calc(5 / 1920 * 100vw);
    padding-left: calc(106 / 1920 * 100vw);
    position: absolute;
    top: calc(-5 / 1920 * 100vw);
    right: calc(-5 / 1920 * 100vw);
    font-family: 'Gilroy', sans-serif;
    font-size: calc(66 / 1920 * 100vw);
    font-weight: 550;
    text-align: center;
  }

  

  select#track option, select#participation-format option, select#has-team option {
    font-family: 'Gilroy', sans-serif;
    font-size: calc(66 / 1920 * 100vw);
    font-weight: 550;
  }

  .team_container {
    margin-top: calc(32 / 1920 * 100vw);
  }



  #team-options {
    width: calc(776 / 1920 * 100vw);
    margin-bottom: calc(16 / 1920 * 100vw);
    margin-top: calc(16 / 1920 * 100vw);
  }



  #no-team-message {
    width: calc(1474 / 1920 * 100vw);
    height: calc(154 / 1920 * 100vw);
    background-color: transparent;
    border: calc(5 / 1920 * 100vw) solid #15E9C3;
    border-radius: calc(39 / 1920 * 100vw);
    margin-top: calc(32 / 1920 * 100vw);
    margin-bottom: calc(16 / 1920 * 100vw);
    font-family: 'Gilroy', sans-serif;
    font-size: calc(66 / 1920 * 100vw);
    position: relative;
    color: #15E9C3FF;

  }

  .no-team-text {
    text-align: center;
  }

  #no-team-message {
    height: calc(154 / 1920 * 100vw);
    text-align: center;
  }

  #no-team-message {
    margin-top: calc(32 / 1920 * 100vw);
    padding-top: calc(27 / 1920 * 100vw);
  }

  button#subbut {
    font-family: 'Gilroy', sans-serif;
    font-size: calc(66 / 1920 * 100vw);
    width: calc(1474 / 1920 * 100vw);
    height: calc(154 / 1920 * 100vw);
    margin-top: calc(16 / 1920 * 100vw);
    color: #15E9C3FF;

    background-color: rgba(21, 233, 195, 0.28);
    border: calc(5 / 1920 * 100vw) solid #15E9C3;
    border-radius: calc(39 / 1920 * 100vw);
    cursor: pointer;
  }

  button#subbut:hover {
    background-color: #15E9C3FF;
    color: #1E1E1E;
  }

  #team-name-container {
    height: calc(154 / 1920 * 100vw);
    margin-bottom: calc(32 / 1920 * 100vw);
  }

  .footer {
    width: calc(1474 / 1920 * 100vw);
    height: calc(637 / 1920 * 100vw);
    position: absolute;
    top: calc(10687 / 1920 * 100vw);
    left: calc(224 / 1920 * 100vw);
  }

  .footer_kemsu_logo {
    width: calc(259 / 1920 * 100vw);
    height: calc(153 / 1920 * 100vw);
    position: absolute;
    top: calc(20 / 1920 * 100vw);
    left: 0;
  }

  .footer_ID_logo {
    width: calc(481 / 1920 * 100vw);
    height: calc(173 / 1920 * 100vw);
    position: absolute;
    top: 0;
    left: calc(333 / 1920 * 100vw);
  }

  .conditions {
    width: calc(253 / 1920 * 100vw);
    height: calc(59 / 1920 * 100vw);
    position: absolute;
    top: calc(256 / 1920 * 100vw);
    left: 0;
  }

  .privacy_policy {
    width: calc(713 / 1920 * 100vw);
    height: calc(59 / 1920 * 100vw);
    position: absolute;
    top: calc(256 / 1920 * 100vw);
    left: calc(333 / 1920 * 100vw);
  }

  .emailID {
    width: calc(347 / 1920 * 100vw);
    height: calc(59 / 1920 * 100vw);
    position: absolute;
    top: calc(256 / 1920 * 100vw);
    left: calc(1124 / 1920 * 100vw);
  }

}

