* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('fonts/Gilroy-Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('fonts/Gilroy-UltraLight.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('fonts/Gilroy-Light.ttf') format('truetype');
  font-weight: 250;
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 350;
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 450;
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('fonts/Gilroy-Semibold.ttf') format('truetype');
  font-weight: 550;
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 650;
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('fonts/Gilroy-Extrabold.ttf') format('truetype');
  font-weight: 750;
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('fonts/Gilroy-Black.ttf') format('truetype');
  font-weight: 850;
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('fonts/Gilroy-Heavy.ttf') format('truetype');
  font-weight: 950;
}

body {
  background-color: #1E1E1E;
  overflow-x: hidden;
}

.container {
  width: 100vw;
  flex-direction: column;
}

.hidden {
  display: none;
}

.scroll-anim-y {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  transform: translateY(0);
  transition: transform 0.05s;
}

.scroll-animX {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  transform: translateX(0);
  transition: transform 0.05s;
}

/* Стиль для мониторов с соотношением 16:9 */
@media screen and (min-aspect-ratio: 1/1) and (max-aspect-ratio: 20/9) {
  .container {
    width: calc(1920 / 1920 * 100vw);
    display: flex;
  }



  .cross_mobile_img, .ball_blue_mobile_png,
  .ball_orange_mobile,
  .cell_purple_mobile,
  .ring_mobile,
  .schedule_line_1, .schedule_line_2,
  .schedule_line_3_left, .schedule_line_3_right,
  .schedule_line_4_left, .schedule_line_4_right {
    display: none;
  }

  .cross_img {
    width: calc(1285 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(-390 / 1920 * 100vw);
    left: calc(812 / 1920 * 100vw);
  }

  .ball_blue_png {
    width: calc(1323 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(192 / 1920 * 100vw);
    left: calc(-511 / 1920 * 100vw);;
  }

  .title{
    width: calc(837 / 1920 * 100vw);
    height: calc(394 / 1920 * 100vw);
    top: calc(300 / 1920 * 100vw);
    left: calc(909 / 1920 * 100vw);
    position: absolute;
  }

  .title_date {
    font-family: 'Gilroy', sans-serif;
    font-weight: 550;
    font-size: calc(58 / 1920 * 100vw);
    color: #ffffff;
  }

  .title_title {
    position: absolute;
    top: 0;
    font-family: 'Gilroy', sans-serif;
    font-weight: 650;
    font-size: calc(221 / 1920 * 100vw);
    color: #ffffff;
  }

  .title_ID {
    width: calc(350 / 1920 * 100vw);
    height: auto;

    position: absolute;
    top: calc(235 / 1920 * 100vw);
    right: 0;

    text-align: right;
    font-family: 'Gilroy', sans-serif;
    font-weight: 550;
    font-size: calc(83 / 1920 * 100vw);
    line-height: calc(83 / 1920 * 100vw);
    color: #ffffff;
  }

  .button {
    width: calc(837 / 1920 * 100vw);
    height: calc(130 / 1920 * 100vw);

    position: absolute;
    top: calc(857 / 1920 * 100vw);
    left: calc(912 / 1920 * 100vw);

    border: calc(5 / 1920 * 100vw) solid #5A00CD;
    border-radius: calc(39 / 1920 * 100vw);
    background-color: #3C0F74;

    font-family: 'Gilroy', sans-serif;
    font-weight: 550;
    font-size: calc(66 / 1920 * 100vw);
    color: #ffffff;

    cursor: pointer;
  }

  .description {
    width: calc(1007 / 1920 * 100vw);
    height: calc(317 / 1920 * 100vw);

    position: absolute;
    top: calc(1144 / 1920 * 100vw);
    left: calc(832 / 1920 * 100vw);

    border: calc(5 / 1920 * 100vw) solid #155DE9;
    border-radius: calc(51 / 1920 * 100vw);
    background-color: transparent;

    padding-top: calc(57 / 1920 * 100vw);
    padding-left: calc(72 / 1920 * 100vw);

    font-family: 'Gilroy', sans-serif;
    font-weight: 450;
    font-size: calc(59 / 1920 * 100vw);
    line-height: calc(63 / 1920 * 100vw);
    color: #ffffff;
  }

  .participation {
    width: auto;
    height: auto;
    position: absolute;
    top: calc(1615 / 1920 * 100vw);
    left: calc(66 / 1920 * 100vw);
  }

  .participation_title {
    position: absolute;
    top: calc(-21 / 1920 * 100vw);
    left: 0;

    font-family: 'Gilroy', sans-serif;
    font-weight: 450;
    font-size: calc(223 / 1920 * 100vw);
    color: #ffffff;
  }

  .participation_text {
    width: calc(693 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(265 / 1920 * 100vw);
    left: 0;
  }

  .participation_analytics, .participation_back_end, .participation_testing,
  .participation_front_end,  .participation_UXUI, .participation_project {
    height: calc(112 / 1920 * 100vw);

    position: absolute;

    border: calc(5 / 1920 * 100vw) solid #21E21D;
    border-radius: calc(90 / 1920 * 100vw);
    background-color: transparent;

    padding-top: calc(18 / 1920 * 100vw);
    padding-left: calc(38 / 1920 * 100vw);

    font-family: 'Gilroy', sans-serif;
    font-weight: 350;
    font-size: calc(50 / 1920 * 100vw);
    color: #ffffff;
  }

  .participation_analytics, .participation_front_end {
    top: calc(494 / 1920 * 100vw);
  }

  .participation_project, .participation_back_end {
    top: calc(647 / 1920 * 100vw);
  }

  .participation_testing, .participation_UXUI {
    top: calc(799 / 1920 * 100vw);
  }

  .participation_analytics {
    width: calc(334 / 1920 * 100vw);

    left: 0;
  }

  .participation_front_end {
    width: calc(310 / 1920 * 100vw);

    left: calc(371 / 1920 * 100vw);
  }

  .participation_project {
    width: calc(547 / 1920 * 100vw);

    left: calc(56 / 1920 * 100vw);
  }

  .participation_back_end {
    width: calc(312 / 1920 * 100vw);

    left: calc(643 / 1920 * 100vw);
  }

  .participation_testing {
    width: calc(414 / 1920 * 100vw);

    left: 0;
  }

  .participation_UXUI {
    width: calc(396 / 1920 * 100vw);

    left: calc(454 / 1920 * 100vw);
  }

  .ring {
    width: calc(2183 / 1920 * 100vw);
    height: auto;
    position: relative;
    top: calc(1243 / 1920 * 100vw);
    left: calc(785 / 1920 * 100vw);
  }

  .schedule {
    width: calc(1744 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(2765 / 1920 * 100vw);
    left: calc(88 / 1920 * 100vw);
  }

  .schedule_line_1, .schedule_line_2, .schedule_line_3_left,
  .schedule_line_3_right, .schedule_line_4_left, .schedule_line_4_right {
    display: none;
  }

  .schedule_line_1_desk {
    width: calc(379 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(81 / 1920 * 100vw);
    left: calc(773 / 1920 * 100vw);
  }

  .schedule_line_2_desk {
    width: calc(587 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(395 / 1920 * 100vw);
    left: calc(438 / 1920 * 100vw);
  }

  .schedule_line_3_left_desk {
    width: calc(417 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(821 / 1920 * 100vw);
    left: calc(447 / 1920 * 100vw);
  }

  .schedule_line_3_right_desk {
    width: calc(470 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(627 / 1920 * 100vw);
    left: calc(575 / 1920 * 100vw);
  }

  .schedule_line_4_left_desk {
    width: calc(197 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(1358 / 1920 * 100vw);
    left: calc(210 / 1920 * 100vw);
  }

  .schedule_line_4_right_desk {
    width: calc(507 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(1042 / 1920 * 100vw);
    left: calc(1137 / 1920 * 100vw);
  }

  /* top -30  для title */

  .schedule_registration_title, .schedule_opening_title, .schedule_competition_title,
  .schedule_competitions_pupils_title, .schedule_competitions_students_title,
  .schedule_results_pupils_title, .schedule_results_students_title {
    font-family: 'Gilroy', sans-serif;
    font-weight: 550;
    font-size: calc(86 / 1920 * 100vw);
    color: #ffffff;
    position: absolute;
  }

  .schedule_registration_dates, .schedule_opening_dates,
  .schedule_competitions_pupils_dates, .schedule_competitions_students_dates,
  .schedule_results_pupils_dates, .schedule_results_students_dates {
    list-style: none;
    line-height: calc(70 / 1920 * 100vw);

    font-family: 'Gilroy', sans-serif;
    font-weight: 350;
    font-size: calc(66 / 1920 * 100vw);
    color: #ffffff;
    position: absolute;
  }

  .schedule_registration {
    width: calc(678 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(37 / 1920 * 100vw);
    left: calc(201 / 1920 * 100vw);
  }

  .schedule_registration_png {
    width: calc(678 / 1920 * 100vw);
    height: auto;
  }

  .schedule_registration_title {
    top: calc(101 / 1920 * 100vw);
    left: calc(105 / 1920 * 100vw);
  }

  .schedule_registration_dates {
    top: calc(219 / 1920 * 100vw);
    left: calc(105 / 1920 * 100vw);
  }

  .schedule_opening {
    width: calc(617 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(250 / 1920 * 100vw);
    left: calc(919 / 1920 * 100vw);
  }

  .schedule_opening_png {
    width: calc(617 / 1920 * 100vw);
    height: auto;
  }

  .schedule_opening_title {
    top: calc(92 / 1920 * 100vw);
    left: calc(111 / 1920 * 100vw);
  }

  .schedule_opening_dates {
    top: calc(209 / 1920 * 100vw);
    left: calc(111 / 1920 * 100vw);
  }

  .schedule_competition {
    width: calc(756 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(556 / 1920 * 100vw);
    left: calc(167 / 1920 * 100vw);
  }

  .schedule_competition_png {
    width: calc(756 / 1920 * 100vw);
    height: auto;
  }

  .schedule_competition_title {
    top: calc(146 / 1920 * 100vw);
    left: calc(75 / 1920 * 100vw);
  }

  .schedule_competitions_pupils {
    width: calc(617 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(1041 / 1920 * 100vw);
    left: calc(82 / 1920 * 100vw);
  }

  .schedule_competitions_pupils_png {
    width: calc(617 / 1920 * 100vw);
    height: auto;
  }

  .schedule_competitions_pupils_title {
    top: calc(149 / 1920 * 100vw);
    left: calc(100 / 1920 * 100vw);
  }

  .schedule_competitions_pupils_dates {
    top: calc(267 / 1920 * 100vw);
    left: calc(100 / 1920 * 100vw);
  }

  .schedule_competitions_students {
    width: calc(756 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(834 / 1920 * 100vw);
    left: calc(927 / 1920 * 100vw);
  }

  .schedule_competitions_students_png {
    width: calc(756 / 1920 * 100vw);
    height: auto;
  }

  .schedule_competitions_students_title {
    top: calc(107 / 1920 * 100vw);
    left: calc(140 / 1920 * 100vw);
  }

  .schedule_competitions_students_dates {
    top: calc(227 / 1920 * 100vw);
    left: calc(140 / 1920 * 100vw);
  }

  .schedule_results_pupils {
    width: calc(617 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(1589 / 1920 * 100vw);
    left: calc(121 / 1920 * 100vw);
  }

  .schedule_results_pupils_png {
    width: calc(617 / 1920 * 100vw);
    height: auto;
  }

  .schedule_results_pupils_title,
  .schedule_results_students_title{
    top: calc(112 / 1920 * 100vw);
    left: calc(97 / 1920 * 100vw);
  }

  .schedule_results_pupils_dates,
  .schedule_results_students_dates{
    top: calc(230 / 1920 * 100vw);
    left: calc(97 / 1920 * 100vw);
  }

  .schedule_results_students {
    width: calc(617 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(1467 / 1920 * 100vw);
    left: calc(950 / 1920 * 100vw);
  }

  .schedule_results_students_png {
    width: calc(617 / 1920 * 100vw);
    height: auto;
  }

  .ball_orange {
    width: calc(1598 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(4989 / 1920 * 100vw);
    left: calc(-547 / 1920 * 100vw);
  }

  .partners {
    width: auto;
    height: auto;

    position: absolute;
    top: calc(5091 / 1920 * 100vw);
    left: calc(695 / 1920 * 100vw);

    font-family: 'Gilroy', sans-serif;
    font-weight: 550;
    font-size: calc(223 / 1920 * 100vw);
    color: #ffffff;
  }


  .cell_purple {
    width: calc(2896 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(5918 / 1920 * 100vw);
    left: calc(-388 / 1920 * 100vw);
  }

  .prize {
    width: auto;
    height: auto;

    position: absolute;
    top: calc(6607 / 1920 * 100vw);
    left: calc(113 / 1920 * 100vw);

    font-family: 'Gilroy', sans-serif;
    font-weight: 550;
    font-size: calc(223 / 1920 * 100vw);
    color: #ffffff;
  }

  .application {
    width: calc(1700 / 1920 * 100vw);
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(8580 / 1920 * 100vw);
    left: calc(224 / 1920 * 100vw);
  }

  .application_title_png {
    width: calc(1500 / 1920 * 100vw);
    height: calc(162 / 1920 * 100vw);
    position: absolute;
    top: 0;
    left: 0;
  }

  .application_form {
    width: calc(1700 / 1920 * 100vw);
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(200 / 1920 * 100vw);
    left: 0;
    background-color: transparent;
    border-radius: calc(39 / 1920 * 100vw);
  }

  .form-container {
    width: calc(1700 / 1920 * 100vw);
    height: auto;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 550;
  }

  input#fio, input#institution, input#email,
  input#phone, input#team-name {
    width: calc(727 / 1920 * 100vw);
    height: calc(98 / 1920 * 100vw);
    background-color: transparent;
    border-width: calc(5 / 1920 * 100vw);
    border-radius: calc(39 / 1920 * 100vw);
    border-color: #15E9C3;
    vertical-align: center;
    padding-left: calc(32 / 1920 * 100vw);
    margin-top: calc(8 / 1920 * 100vw);
    margin-bottom: calc(8 / 1920 * 100vw);
    font-family: 'Gilroy', sans-serif;
    font-size: calc(41 / 1920 * 100vw);
    box-sizing: border-box;
    font-weight: 550;
    color: white;
  }

  input#fio, input#email {
    margin-right: calc(12 / 1920 * 100vw);
  }

  input#institution, input#phone {
    margin-left: calc(12 / 1920 * 100vw);
  }


  input#fio::placeholder, input#institution::placeholder, input#email::placeholder,
  input#phone::placeholder, input#team-name::placeholder {
    color: rgba(21, 233, 195, 0.28);
    font-family: 'Gilroy', sans-serif;
    font-size: calc(41 / 1920 * 100vw);
  }

  .track_container, .part_container {
    width: calc(727 / 1920 * 100vw);
    height: calc(98 / 1920 * 100vw);
    background-color: transparent;
    border: calc(5 / 1920 * 100vw) solid #15E9C3FF;
    border-radius: calc(39 / 1920 * 100vw);
    margin-top: calc(8 / 1920 * 100vw);
    margin-bottom: calc(16 / 1920 * 100vw);
    position: relative;
    padding-left: calc(32 / 1920 * 100vw);
  }

  .track_title, .team_title {
    width: auto;
    height: auto;
    position: absolute;
    top: calc(18 / 1920 * 100vw);
    font-family: 'Gilroy', sans-serif;
    font-size: calc(41 / 1920 * 100vw);
    color: #15E9C3FF;
  }

  .part_title {
    width: auto;
    height: auto;
    position: absolute;
    top: calc(21 / 1920 * 100vw);
    font-family: 'Gilroy', sans-serif;
    font-size: calc(35 / 1920 * 100vw);
    color: #15E9C3FF;
  }


  select#track, select#participation-format, select#has-team {
    appearance: none;
    width: calc(381 / 1920 * 100vw);
    height: calc(98 / 1920 * 100vw);
    background-color: #15e9c3;
    color: #1e1e1e;
    border-radius: calc(39 / 1920 * 100vw);
    border-color: #15e9c3;
    border-width: calc(5 / 1920 * 100vw);
    position: absolute;
    top: calc(-5 / 1920 * 100vw);
    right: calc(-5 / 1920 * 100vw);
    font-family: 'Gilroy', sans-serif;
    font-size: calc(35 / 1920 * 100vw);
    font-weight: 550;
    text-align: center;
    cursor: pointer;
  }

  select#track option, select#participation-format option, select#has-team option {
    font-family: 'Gilroy', sans-serif;
    font-size: calc(41 / 1920 * 100vw);
    font-weight: 550;
  }

  .team_container {
    width: calc(727 / 1920 * 100vw);
    height: calc(98 / 1920 * 100vw);
    background-color: transparent;
    border: calc(5 / 1920 * 100vw) solid #15E9C3FF;
    border-radius: calc(39 / 1920 * 100vw);
    margin-top: calc(8 / 1920 * 100vw);
    margin-bottom: calc(8 / 1920 * 100vw);
    position: relative;
    padding-left: calc(32 / 1920 * 100vw);
  }

  #team-options {
    width: calc(726 / 1920 * 100vw);
    margin-bottom: calc(16 / 1920 * 100vw);
    margin-top: calc(16 / 1920 * 100vw);
  }



  #no-team-message {
    width: calc(726 / 1920 * 100vw);
    height: calc(97 / 1920 * 100vw);
    background-color: transparent;
    border: calc(5 / 1920 * 100vw) solid #15E9C3;
    border-radius: calc(39 / 1920 * 100vw);
    margin-top: calc(8 / 1920 * 100vw);
    font-family: 'Gilroy', sans-serif;
    font-size: calc(41 / 1920 * 100vw);
    position: relative;
    color: #15E9C3FF;

  }

  .no-team-text {
    text-align: center;
  }


  #no-team-message {
    margin-top: calc(16 / 1920 * 100vw);
    padding-top: calc(16 / 1920 * 100vw);
  }

  button#subbut {
    font-family: 'Gilroy', sans-serif;
    font-size: calc(41 / 1920 * 100vw);
    width: calc(726 / 1920 * 100vw);
    height: calc(97 / 1920 * 100vw);
    color: #15E9C3FF;

    background-color: rgba(21, 233, 195, 0.28);
    border: calc(5 / 1920 * 100vw) solid #15E9C3;
    border-radius: calc(39 / 1920 * 100vw);
    cursor: pointer;
  }

  button#subbut:hover {
    background-color: #15E9C3FF;
    color: #1E1E1E;
  }

  #team-name-container {
    height: calc(97 / 1920 * 100vw);
    margin-bottom: calc(24 / 1920 * 100vw);
  }

  .footer {
    width: calc(1474 / 1920 * 100vw);
    height: calc(637 / 1920 * 100vw);
    position: absolute;
    top: calc(9800 / 1920 * 100vw);
    left: calc(224 / 1920 * 100vw);
  }

  .footer_kemsu_logo {
    width: calc(259 / 1920 * 100vw);
    height: calc(153 / 1920 * 100vw);
    position: absolute;
    top: calc(20 / 1920 * 100vw);
    left: 0;
  }

  .footer_ID_logo {
    width: calc(481 / 1920 * 100vw);
    height: calc(173 / 1920 * 100vw);
    position: absolute;
    top: 0;
    left: calc(333 / 1920 * 100vw);
  }

  .conditions {
    width: calc(253 / 1920 * 100vw);
    height: calc(59 / 1920 * 100vw);
    position: absolute;
    top: calc(256 / 1920 * 100vw);
    left: 0;
  }

  .privacy_policy {
    width: calc(713 / 1920 * 100vw);
    height: calc(59 / 1920 * 100vw);
    position: absolute;
    top: calc(256 / 1920 * 100vw);
    left: calc(333 / 1920 * 100vw);
  }

  .emailID {
    width: calc(347 / 1920 * 100vw);
    height: calc(59 / 1920 * 100vw);
    position: absolute;
    top: calc(256 / 1920 * 100vw);
    left: calc(1124 / 1920 * 100vw);
  }

}



/* Стиль для мониторов с соотношением 21:9 */
@media screen and (min-aspect-ratio: 21/9) {
  .container {
    width: 80%;
    max-width: 1400px;
    flex-direction: row;
    justify-content: center; /* Выравниваем элементы по центру */
  }
}
/* Стиль для телефонов (например, экраны меньше 768px) */
@media screen and (max-aspect-ratio: 1/1) {
  .container {
    width: calc(1920 / 1920 * 100vw);

  }

  .cross, .cross_img, .ball_blue,
  .ball_orange, .ball_orange_png,
  .cell_purple, .ring,
  .schedule_line_1_desk, .schedule_line_2_desk,
  .schedule_line_3_left_desk, .schedule_line_3_right_desk,
  .schedule_line_4_left_desk, .schedule_line_4_right_desk {
    display: none;
  }

  .cross_mobile_img {
    width: calc(1247 / 1920 * 100vw);
    height: auto;
    position: absolute;
    left: calc(812 / 1920 * 100vw);
    top: 0;
  }

  .ball_blue_mobile_png {
    width: calc(873 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(985 / 1920 * 100vw);
    left: 0;
  }

  .title{
    width: calc(1742 / 1920 * 100vw);
    height: calc(820 / 1920 * 100vw);
    top: calc(1263 / 1920 * 100vw);
    margin: auto;
    position: absolute;
  }

  .title_date {
    font-family: 'Gilroy', sans-serif;
    font-weight: 550;
    font-size: calc(120 / 1920 * 100vw);
    color: #ffffff;
  }

  .title_title {
    position: absolute;
    top: 0;
    font-family: 'Gilroy', sans-serif;
    font-weight: 650;
    font-size: calc(460 / 1920 * 100vw);
    color: #ffffff;
  }

  .title_ID {
    width: calc(704 / 1920 * 100vw);
    height: auto;

    position: absolute;
    bottom: 0;
    right: 0;

    text-align: right;
    font-family: 'Gilroy', sans-serif;
    font-weight: 550;
    font-size: calc(172 / 1920 * 100vw);
    line-height: calc(172 / 1920 * 100vw);
    color: #ffffff;
  }

  .button {
    width: calc(1742 / 1920 * 100vw);
    height: calc(287 / 1920 * 100vw);

    position: absolute;
    top: calc(2830 / 1920 * 100vw);
    left: calc(84 / 1920 * 100vw);

    border: calc(5 / 1920 * 100vw) solid #5A00CD;
    border-radius: calc(83 / 1920 * 100vw);
    background-color: #3C0F74;

    font-family: 'Gilroy', sans-serif;
    font-weight: 550;
    font-size: calc(140 / 1920 * 100vw);
    color: #ffffff;

    cursor: pointer;
  }

  .description {
    width: calc(1742 / 1920 * 100vw);
    height: calc(542 / 1920 * 100vw);

    position: absolute;
    top: calc(3629 / 1920 * 100vw);
    left: calc(89 / 1920 * 100vw);

    border: calc(7 / 1920 * 100vw) solid #061c89;
    border-radius: calc(56 / 1920 * 100vw);
    background-color: #155DE9FF;

    padding-top: calc(96 / 1920 * 100vw);
    padding-left: calc(102 / 1920 * 100vw);

    font-family: 'Gilroy', sans-serif;
    font-weight: 450;
    font-size: calc(102 / 1920 * 100vw);
    line-height: calc(109 / 1920 * 100vw);
    color: #ffffff;
  }

  .participation {
    width: calc(1743 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(4322 / 1920 * 100vw);
    left: calc(89 / 1920 * 100vw);
  }

  .participation_title {
    position: absolute;
    top: calc(-21 / 1920 * 100vw);
    left: 0;

    font-family: 'Gilroy', sans-serif;
    font-weight: 450;
    font-size: calc(459 / 1920 * 100vw);
    color: #ffffff;
  }

  .participation_text {
    width: calc(1743 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(528 / 1920 * 100vw);
    left: 0;
  }

  .participation_analytics, .participation_back_end, .participation_testing,
  .participation_front_end,  .participation_UXUI, .participation_project {
    height: calc(221 / 1920 * 100vw);

    position: absolute;

    border: calc(10 / 1920 * 100vw) solid #21E21D;
    border-radius: calc(710 / 1920 * 100vw);
    background-color: transparent;

    padding-top: calc(35 / 1920 * 100vw);
    padding-left: calc(74 / 1920 * 100vw);

    font-family: 'Gilroy', sans-serif;
    font-weight: 350;
    font-size: calc(99 / 1920 * 100vw);
    color: #ffffff;
  }

  .participation_testing, .participation_analytics {
    top: calc(1081 / 1920 * 100vw);
  }

  .participation_project, .participation_front_end {
    top: calc(1401 / 1920 * 100vw);
  }

  .participation_back_end, .participation_UXUI {
    top: calc(1721 / 1920 * 100vw);
  }

  .participation_analytics {
    width: calc(654 / 1920 * 100vw);

    left: calc(1002 / 1920 * 100vw);
  }

  .participation_front_end {
    width: calc(612 / 1920 * 100vw);

    left: calc(1127 / 1920 * 100vw);
  }

  .participation_project {
    width: calc(1080 / 1920 * 100vw);

    left: 0;
  }

  .participation_back_end {
    width: calc(616 / 1920 * 100vw);

    left: calc(87 / 1920 * 100vw);
  }

  .participation_testing {
    width: calc(818 / 1920 * 100vw);

    left: calc(87 / 1920 * 100vw);
  }

  .participation_UXUI {
    width: calc(782 / 1920 * 100vw);

    left: calc(874 / 1920 * 100vw);
  }

  .ring_mobile {
    width: calc(1924 / 1920 * 100vw);
    height: auto;
    position: relative;
    top: calc(2439 / 1920 * 100vw);
    right: 0;
  }

  .schedule {
    width: calc(1742 / 1920 * 100vw);
    height: calc(2209 / 1920 * 100vw);
    position: absolute;
    top: calc(6457 / 1920 * 100vw);
    left: calc(89 / 1920 * 100vw);
  }


  .schedule_line_1 {
    width: calc(412 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(49 / 1920 * 100vw);
    left: calc(752 / 1920 * 100vw);
  }

  .schedule_line_2 {
    width: calc(639 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(390 / 1920 * 100vw);
    left: calc(388 / 1920 * 100vw);
  }

  .schedule_line_3_left {
    width: calc(454 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(853 / 1920 * 100vw);
    left: calc(397 / 1920 * 100vw);
  }

  .schedule_line_3_right {
    width: calc(512 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(642 / 1920 * 100vw);
    left: calc(550 / 1920 * 100vw);
  }

  .schedule_line_4_left {
    width: calc(214 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(1438 / 1920 * 100vw);
    left: calc(139 / 1920 * 100vw);
  }

  .schedule_line_4_right {
    width: calc(552 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(1094 / 1920 * 100vw);
    left: calc(1149 / 1920 * 100vw);
  }


  /* top -30  для title */

  .schedule_registration_title, .schedule_opening_title, .schedule_competition_title,
  .schedule_competitions_pupils_title, .schedule_competitions_students_title,
  .schedule_results_pupils_title, .schedule_results_students_title {
    font-family: 'Gilroy', sans-serif;
    font-weight: 450;
    font-size: calc(96 / 1920 * 100vw);
    color: #ffffff;
    position: absolute;
  }

  .schedule_registration_dates, .schedule_opening_dates,
  .schedule_competitions_pupils_dates, .schedule_competitions_students_dates,
  .schedule_results_pupils_dates, .schedule_results_students_dates {
    list-style: none;
    line-height: calc(76 / 1920 * 100vw);

    font-family: 'Gilroy', sans-serif;
    font-weight: 350;
    font-size: calc(72 / 1920 * 100vw);
    color: #ffffff;
    position: absolute;
  }

  .schedule_registration {
    width: calc(738 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: 0;
    left: calc(129 / 1920 * 100vw);
  }

  .schedule_registration_png {
    width: calc(738 / 1920 * 100vw);
    height: auto;
  }

  .schedule_registration_title {
    top: calc(101 / 1920 * 100vw);
    left: calc(105 / 1920 * 100vw);
  }

  .schedule_registration_dates {
    top: calc(219 / 1920 * 100vw);
    left: calc(105 / 1920 * 100vw);
  }

  .schedule_opening {
    width: calc(671 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(232 / 1920 * 100vw);
    left: calc(911 / 1920 * 100vw);
  }

  .schedule_opening_png {
    width: calc(671 / 1920 * 100vw);
    height: auto;
  }

  .schedule_opening_title {
    top: calc(92 / 1920 * 100vw);
    left: calc(111 / 1920 * 100vw);
  }

  .schedule_opening_dates {
    top: calc(209 / 1920 * 100vw);
    left: calc(111 / 1920 * 100vw);
  }

  .schedule_competition {
    width: calc(822 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(565 / 1920 * 100vw);
    left: calc(92 / 1920 * 100vw);
  }

  .schedule_competition_png {
    width: calc(822 / 1920 * 100vw);
    height: auto;
  }

  .schedule_competition_title {
    top: calc(146 / 1920 * 100vw);
    left: calc(75 / 1920 * 100vw);
  }

  .schedule_competitions_pupils {
    width: calc(671 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(1093 / 1920 * 100vw);
    left: 0;
  }

  .schedule_competitions_pupils_png {
    width: calc(671 / 1920 * 100vw);
    height: auto;
  }

  .schedule_competitions_pupils_title {
    top: calc(149 / 1920 * 100vw);
    left: calc(100 / 1920 * 100vw);
  }

  .schedule_competitions_pupils_dates {
    top: calc(267 / 1920 * 100vw);
    left: calc(100 / 1920 * 100vw);
  }

  .schedule_competitions_students {
    width: calc(822 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(868 / 1920 * 100vw);
    left: calc(920 / 1920 * 100vw);
  }

  .schedule_competitions_students_png {
    width: calc(822 / 1920 * 100vw);
    height: auto;
  }

  .schedule_competitions_students_title {
    top: calc(115 / 1920 * 100vw);
    left: calc(140 / 1920 * 100vw);
  }

  .schedule_competitions_students_dates {
    top: calc(242 / 1920 * 100vw);
    left: calc(140 / 1920 * 100vw);
  }

  .schedule_results_pupils {
    width: calc(671 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(1689 / 1920 * 100vw);
    left: calc(42 / 1920 * 100vw);
  }

  .schedule_results_pupils_png {
    width: calc(671 / 1920 * 100vw);
    height: auto;
  }

  .schedule_results_students {
    width: calc(671 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(1557 / 1920 * 100vw);
    left: calc(945 / 1920 * 100vw);
  }

  .schedule_results_students_png {
    width: calc(671 / 1920 * 100vw);
    height: auto;
  }

  .schedule_results_pupils_title,
  .schedule_results_students_title{
    top: calc(112 / 1920 * 100vw);
    left: calc(97 / 1920 * 100vw);
  }

  .schedule_results_pupils_dates,
  .schedule_results_students_dates{
    top: calc(230 / 1920 * 100vw);
    left: calc(97 / 1920 * 100vw);
  }

  .ball_orange_mobile {
    width: calc(1398 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(8779 / 1920 * 100vw);
    left: 0;
  }

  .partners {
    width: auto;
    height: auto;

    position: absolute;
    top: calc(9026 / 1920 * 100vw);
    left: calc(225 / 1920 * 100vw);

    font-family: 'Gilroy', sans-serif;
    font-weight: 550;
    font-size: calc(322 / 1920 * 100vw);
    color: #ffffff;
  }

  .cell_purple_mobile {
    width: calc(1920 / 1920 * 100vw);
    height: auto;
    position: absolute;
    top: calc(10273 / 1920 * 100vw);
    left: 0;
  }

  .prize {
    width: auto;
    height: auto;

    position: absolute;
    top: calc(10650 / 1920 * 100vw);
    left: calc(830 / 1920 * 100vw);

    font-family: 'Gilroy', sans-serif;
    font-weight: 550;
    font-size: calc(322 / 1920 * 100vw);
    color: #ffffff;
  }

  .application {
    width: calc(1474 / 1920 * 100vw);
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(12816 / 1920 * 100vw);
    left: calc(223 / 1920 * 100vw);
  }

  .application_title_png {
    width: calc(1473 / 1920 * 100vw);
    height: calc(162 / 1920 * 100vw);
    position: absolute;
    top: 0;
    left: 0;
  }

  .application_form {
    width: calc(1474 / 1920 * 100vw);
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(256 / 1920 * 100vw);
    left: 0;
    background-color: transparent;
    border-radius: calc(39 / 1920 * 100vw);
  }

  .form-container {
    width: calc(1474 / 1920 * 100vw);
    height: auto;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 550;
  }

  input#fio, input#institution, input#email,
  input#phone {
    width: calc(1474 / 1920 * 100vw);
    height: calc(154 / 1920 * 100vw);
    background-color: transparent;
    border-width: calc(5 / 1920 * 100vw);
    border-radius: calc(39 / 1920 * 100vw);
    border-color: #15E9C3;
    vertical-align: center;
    padding-left: calc(106 / 1920 * 100vw);
    margin-top: calc(16 / 1920 * 100vw);
    margin-bottom: calc(16 / 1920 * 100vw);
    font-family: 'Gilroy', sans-serif;
    font-size: calc(66 / 1920 * 100vw);
    box-sizing: border-box;
    font-weight: 550;
    color: white;
  }

    input#team-name {
      width: calc(1474 / 1920 * 100vw);
      height: calc(154 / 1920 * 100vw);
      background-color: transparent;
      border-width: calc(5 / 1920 * 100vw);
      border-radius: calc(39 / 1920 * 100vw);
      border-color: #15E9C3;
      vertical-align: center;
      padding-left: calc(106 / 1920 * 100vw);
      font-family: 'Gilroy', sans-serif;
      font-size: calc(66 / 1920 * 100vw);
      box-sizing: border-box;
      font-weight: 550;
      color: white;
    }

  input#fio::placeholder, input#institution::placeholder, input#email::placeholder,
  input#phone::placeholder, input#team-name::placeholder {
    color: rgba(21, 233, 195, 0.28);
    font-family: 'Gilroy', sans-serif;
    font-size: calc(66 / 1920 * 100vw);
  }

   .team_container, .part_container {
    width: calc(1474 / 1920 * 100vw);
    height: calc(154 / 1920 * 100vw);
    background-color: transparent;
    border: calc(5 / 1920 * 100vw) solid #15E9C3FF;
    border-radius: calc(39 / 1920 * 100vw);
    margin-top: calc(16 / 1920 * 100vw);
    margin-bottom: calc(16 / 1920 * 100vw);
    position: relative;
    padding-left: calc(106 / 1920 * 100vw);
  }

  .track_container, .team_container, .part_container {
    width: calc(1474 / 1920 * 100vw);
    height: calc(154 / 1920 * 100vw);
    background-color: transparent;
    border: calc(5 / 1920 * 100vw) solid #15E9C3FF;
    border-radius: calc(39 / 1920 * 100vw);
    margin-top: calc(16 / 1920 * 100vw);
    margin-bottom: calc(32 / 1920 * 100vw);
    position: relative;
    padding-left: calc(106 / 1920 * 100vw);
  }

  .track_title, .team_title, .part_title {
    width: auto;
    height: auto;
    position: absolute;
    top: calc(27 / 1920 * 100vw);
    font-family: 'Gilroy', sans-serif;
    font-size: calc(66 / 1920 * 100vw);
    color: #15E9C3FF;
  }

  select#track, select#participation-format, select#has-team {
    appearance: none;
    width: calc(776 / 1920 * 100vw);
    height: calc(154 / 1920 * 100vw);
    background-color: #15e9c3;
    color: #1e1e1e;
    border-radius: calc(39 / 1920 * 100vw);
    border-color: #15e9c3;
    border-width: calc(5 / 1920 * 100vw);
    position: absolute;
    top: calc(-5 / 1920 * 100vw);
    right: calc(-5 / 1920 * 100vw);
    font-family: 'Gilroy', sans-serif;
    font-size: calc(66 / 1920 * 100vw);
    font-weight: 550;
    text-align: center;
    cursor: pointer;
  }

  select#track option, select#participation-format option, select#has-team option {
    font-family: 'Gilroy', sans-serif;
    font-size: calc(66 / 1920 * 100vw);
    font-weight: 550;
  }

  .team_container {
    margin-top: calc(32 / 1920 * 100vw);
  }

  #team-options {
    width: calc(776 / 1920 * 100vw);
    margin-bottom: calc(16 / 1920 * 100vw);
    margin-top: calc(16 / 1920 * 100vw);
  }

  #no-team-message {
    width: calc(1474 / 1920 * 100vw);
    height: calc(154 / 1920 * 100vw);
    background-color: transparent;
    border: calc(5 / 1920 * 100vw) solid #15E9C3;
    border-radius: calc(39 / 1920 * 100vw);
    margin-top: calc(32 / 1920 * 100vw);
    margin-bottom: calc(32 / 1920 * 100vw);
    font-family: 'Gilroy', sans-serif;
    font-size: calc(66 / 1920 * 100vw);
    position: relative;
    color: #15E9C3FF;

  }

  .no-team-text {
    text-align: center;
  }

  #no-team-message {
    height: calc(154 / 1920 * 100vw);
    text-align: center;
  }

  #no-team-message {
    margin-top: calc(32 / 1920 * 100vw);
    padding-top: calc(27 / 1920 * 100vw);
  }

  button#subbut {
    font-family: 'Gilroy', sans-serif;
    font-size: calc(66 / 1920 * 100vw);
    width: calc(1474 / 1920 * 100vw);
    height: calc(154 / 1920 * 100vw);
    margin-top: calc(16 / 1920 * 100vw);
    color: #15E9C3FF;

    background-color: rgba(21, 233, 195, 0.28);
    border: calc(5 / 1920 * 100vw) solid #15E9C3;
    border-radius: calc(39 / 1920 * 100vw);
    cursor: pointer;
  }

  button#subbut:hover {
    background-color: #15E9C3FF;
    color: #1E1E1E;
  }

  #team-name-container {
    height: calc(154 / 1920 * 100vw);
    margin-bottom: calc(32 / 1920 * 100vw);
  }

  .footer {
    width: calc(1600 / 1920 * 100vw);
    height: calc(682 / 1920 * 100vw);
    position: absolute;
    top: calc(15300 / 1920 * 100vw);
    left: calc(160 / 1920 * 100vw);
  }

  .footer_kemsu_logo {
    width: calc(508 / 1920 * 100vw);
    height: calc(307 / 1920 * 100vw);
    position: absolute;
    top: calc(39 / 1920 * 100vw);
    left: 0;
  }

  .footer_ID_logo {
    width: calc(944 / 1920 * 100vw);
    height: calc(346 / 1920 * 100vw);
    position: absolute;
    top: 0;
    left: calc(656 / 1920 * 100vw);
  }

  .conditions {
    width: calc(325 / 1920 * 100vw);
    height: calc(76 / 1920 * 100vw);
    position: absolute;
    top: calc(380 / 1920 * 100vw);
    left: 0;
  }

  .privacy_policy {
    width: calc(916 / 1920 * 100vw);
    height: calc(76 / 1920 * 100vw);
    position: absolute;
    top: calc(471 / 1920 * 100vw);
    left: 0;
  }

  .emailID {
    width: calc(446 / 1920 * 100vw);
    height: calc(76 / 1920 * 100vw);
    position: absolute;
    top: calc(562 / 1920 * 100vw);
    left: 0;
  }

}

